---
interface Props {
  columns: string[];
}

const { columns } = Astro.props;
---

<div class="comparison-header" style={`--column-count: ${columns.length};`}>
  <div></div>
  {columns.map((col) => <div>{col}</div>)}
</div>
